.formContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  border: 1px solid #000000;
  border-radius: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  padding: 25px;
  background-color: #fffefe;
  border-radius: 12px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #000000;
  font-weight: 500;
}

.input {
  padding: 12px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 6px;
  color: #ffffff;
  font-size: 1rem;
  transition: border-color 0.2s ease;
}

.input:focus {
  outline: none;
  border-color: #8b2f70;
}

.button {
  padding: 12px;
  background-color: #8b2f70;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #b32a9c;
}
